.content-block
  .content-header
    %h1
      - total_profit = P2p.calculate_total_profit(@p2ps)
      - total_profit_with_taxes = P2p.calculate_total_profit_with_taxes(@p2ps)
      = "Ордера"
      - if total_profit > 0 || total_profit < 0
        %span.small-box{ class: total_profit > 0 ? 'text-success' : 'text-danger', style: "font-size: 20px;" }
          - if total_profit != 0
            = total_profit > 0 ? "+#{format_number total_profit}" : "#{format_number total_profit}"
            = "₽"
          %span.text-small.text-muted
            - if total_profit != 0
              = "(с налогом:"
              = total_profit > 0 ? "+#{format_number total_profit_with_taxes}" : "(#{format_number total_profit_with_taxes}"
              = "₽)"
    = link_to new_p2p_path, class: 'btn' do
      = g_icon('add')
  .content-body
    - if @p2ps
      - @p2ps.each do |p2p|
        = render partial: 'p2p_card', locals: { p2p: p2p, show_card_body: false }
    - else
      .no-p2ps
        - if current_user
          = "Нет ордеров"
        - else
          = link_to login_path do
            .btn= "Авторизоваться"